.explore {
  padding: 10% 0;
}
.explore .login_btn {
  background-color: var(--primary);
  padding: 10px 30px;
  color: var(--white);
  border: 0;
  display: table;
  margin: 30px auto;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-left: 50px;
  padding-right: 50px;
}
.explore h2 {
  font-size: 1.5em;
  margin-top: 3em;
  text-align: center;
}
.explore .register_btn {
  background-color: var(--white);
  border: 2px solid var(--primary);
  color: var(--primary);
  font-weight: 600;
  padding: 10px 30px;
  display: table;
  margin: 30px auto;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.explore .register_btn:hover {
  background-color: var(--primary);
  color: var(--white);
}
