body {
  margin: 0;
  font-size: 17px;
  font-family: Futura PT, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --primary: #142342;
  --hover: #121212;
  --white: #fff;
  --gray: #e2dedc;
}
